.App-header {
  background-color: #282c34;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-right: 5rem;
}

.logo{
  width: 25vh;
  height: 20vh;
}

main{
  height: 100vh;
  padding-top: 1rem;
  background-color: azure;
}